@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --font-dm-sans: "DM Sans", sans-serif;
    --background: #090909;
    --foreground: #fff;
    --card: #1c1c1c;
    --card-foreground: var(--color-white);
    --popover: #1c1c1c;
    --popover-foreground: var(--color-white);
    --primary: #3fe6a3;
    --primary-foreground: #020304;
    --secondary: var(--color-gray-700);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-gray-600);
    --muted-foreground: var(--color-gray-500);
    --accent: #f2c94c;
    --accent-foreground: var(--color-gray-900);
    --destructive: var(--color-red-900);
    --destructive-foreground: var(--color-white);
    --border: var(--color-gray-700);
    --input: var(--color-gray-700);
  }

  body {
    font-family: var(--font-dm-sans);
    color: var(--foreground);
    background-color: var(--background);
  }

  * {
    font-family: var(--font-dm-sans);
  }
}
